.tasks-view {
  padding: 1rem;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
}

.tasks-view h2 {
  text-align: center;
  color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

/* #region  buttons */
input,
select,
button {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 10px;
}

/* #endregion */

/* #region inputs */
input[type="text"] {
  width: 5%;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  background-color: #110e1a;
  box-sizing: border-box;
}

input[type="text"]:focus {
  outline: none;
}

select {
  background-color: #f0e3ec;
}

input[type="date"] {
  background-color: #f0e3ec;
}

/* #endregion */
