h1 {
  text-align: center;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #110e1a;
  font-family: "Inter", sans-serif;
}

body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  touch-action: none;
}

.app-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-background,
.login-background {
  flex: 1;
  overflow-y: auto;
}

.top-text {
  position: sticky;
  top: 0;
  width: 100%;
  height: 5rem;
  z-index: 9999;
  background: #110e1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

body,
button,
input,
select,
textarea,
a,
label,
div {
  cursor: url("/Images/SquaredPointer_00001.png") 8 4, default;
}

.shiny-text {
  color: #b5b5b5a4;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}

.user-button {
  background-image: url("/Images/UserIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.user-info {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #653dba;
  padding: 5px 12px;
  border-radius: 9px;
  z-index: 999;
  display: grid;
  animation: fadeIn2 0.5s ease forwards;
  opacity: 0;
  min-width: 120px;
  text-align: center;
}

.user-options {
  position: fixed;
  top: 1rem;
  right: 8rem;
  z-index: 1000;
}

@media (max-width: 600px) {
  .user-options {
    position: fixed;
    top: 1rem;
    right: 6rem;
    z-index: 1000;
  }
}

@media (max-width: 425px) {
  .user-options {
    position: fixed;
    top: 1.5rem;
    right: 1rem;
    z-index: 1000;
  }
  .user-button {
    left: 500%;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes fadeIn2 {
  to {
    opacity: 1;
  }
}

.task-view-layout {
  flex: 1;
  overflow-y: auto;
  display: flex;
  height: calc(100vh - 5rem);
}

.main-background,
.login-background {
  flex: 1;
  overflow-y: auto;
  position: relative;
}
